.container {
  padding: 1rem;
  max-width: 800px;
  margin: 0 auto;

  h1 {
    font-size: 2.5rem;
    margin-bottom: 0.5rem;
  }
}

.subtitle {
  font-size: 1.2rem;
  color: #4c6272;
  margin-bottom: 2rem;
}
