:root {
  font-family: Frutiger W01,Arial,Sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 16px;
  margin: 0;
  min-height: 100%;
  
  --nhs-white: #f0f4f5;
  --nhs-dark-blue: #143284;
  --nhs-blue: #005eb8;
  --nhs-yellow: #fbea50;

  color: #212b32;
  background-color: var(--nhs-white);
}

button {
  background-color: var(--nhs-blue);
  color: var(--nhs-white);
  border: none;
  border-bottom: 4px solid var(--nhs-dark-blue);
  border-radius: 4px;
  width: 122px;
  height: 60px;
  font-size: 22px;
}

button:focus,
button:focus-visible {
  background-color: var(--nhs-yellow);
  color: var(--nhs-dark-blue);
  border-color: var(--nhs-dark-blue);
}
